{% extends 'main/base.html' %}

{% block title %} 
    {{title}}
{% endblock %}


{% block content %}
<center>
  <p class="h3"><strong>Кампания: </strong></p>
  <p class="h2"><em>{{current_camp}}</em></p>
  <br>
  <p class="h3"><strong>Люди: </strong></p>
{% if people %}
  {% for i in people %}
    <p class="h5" >{{i.surname}} {{i.name}}  {{i.patr}} <a href="{% url 'edit_person' i.pk %}"><button type="button" class="btn btn-info">Изменить</button></a><a href="{% url 'delete_person' i.pk %}"><button type="button" class="btn btn-danger">Удалить</button></a></p>
  {% endfor %}
  <br>
{% else %}
  <center>
  <p class="h4"><em> Здесь будет отображаться список людей кампании </em></p>
</center>
{% endif %}
  <p class="h3"><strong>Адреса: </strong></p>

{% if houses %}
  {% for i in houses %}
    <p class="h5" >{{i.city}}, {{i.street}} {{i.number}} <a href="{% url 'edit_adress' i.pk %}" ><button type="button" class="btn btn-info">Изменить</button></a><a href="{% url 'delete_adress' i.pk %}"><button type="button" class="btn btn-danger">Удалить</button></a></p>
  {% endfor %}
{% else %}
  <center>
  <p class="h4"><em> Здесь будут отображаться адреса кампании </em></p>
</center><br><br>
{% endif %}

    <div class="list-group">
  
    
    <a href=" {% url 'add_person' %}" class="list-group-item list-group-item-action list-group-item-success">Добавить людей в кампанию</a>
    <a href="{% url 'add_adress' %}" class="list-group-item list-group-item-action list-group-item-success">Добавить адрес</a>
    <a href="{% url 'edit_camp' current_camp.id %}" class="list-group-item list-group-item-action list-group-item-info">Редактировать профиль</a>
    <a href="{% url 'delete_camp' current_camp.id  %}" class="list-group-item list-group-item-action list-group-item-danger">Удалить кампанию</a>
  </div>


</center>

{% endblock %}
