{% extends 'main/base.html' %}

{% block title %} 
    {{title}}
{% endblock %}

{% block content %}
<center>
<div class="container">
	<p class="lead">
  Приветствуем Вас на нашем сайте.<br> На вкладке <a href="{% url 'profile' user.pk%}">профиль</a> вы можете редактировать свои данные.<br> На вкладке <a href="{% url 'campaigns' %}">кампании</a> вы сможете увидеть список всех доступных кампаний. Там же вы можете <a href="{% url 'create_campaign' %}">создать</a> свою собственную кампанию. После создания Ваша кампания появится в общем списке и вы сможете перейти в её профиль, чтобы редактировать (добавлять людей или адреса)
</p>
</div>
</center>
{% endblock %}
