{% extends 'main/base.html' %}

{% block title %} 
    {{title}}
{% endblock %}

{% block content %}

<div class="container">
	
  	<dl class="row">
  <dt class="col-sm-3">Ник</dt>
  <dd class="col-sm-9">{{current_user_id.username }}</dd>
  <dt class="col-sm-3">Почта</dt>
  <dd class="col-sm-9">{{current_user_id.email  }}</dd>
  <dt class="col-sm-3">Имя</dt>
  <dd class="col-sm-9">{{current_user_id.first_name }}</dd>
  <dt class="col-sm-3">Фамилия</dt>
  <dd class="col-sm-9">{{current_user_id.last_name  }}</dd>
  <dt class="col-sm-3">Дата рождения</dt>
  <dd class="col-sm-9">{{current_user_id.date_of_birth }}</dd>
</dl>
<a href="{% url 'update' user.id %}"> <button type="button" class="btn btn-primary">Редактировать</button></a>
<a href="{% url 'delete_user' user.id %}"> <button type="button" class="btn btn-danger">Удалить</button></a>
</div>


{% endblock %}
